<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Love in the Air.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6322802A211DF4C1003C3E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6322803E211DF4C3003C3E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63228049211DF4C3003C3E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
